.container{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid grey;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 15px 0px;
    
}

.btn-secondary{
    padding: 10px 30px;
    margin: 10px 0px;
}




