<div class="container">
    <h2>Visita Madrid</h2>
    <form>
        <label>Busca los post que te interesan sobre...</label>
        <select class="form-control" (change)="onChange($event.target.value)">
            <option *ngFor="let categoria of arrCategoriesBlog" value={{categoria}}>{{categoria}}</option>
        </select>
    </form>

    <div class="posts">
        <!-- <h4>Hay {{arrPostsExistentes.length}} posts de la categoría seleccionada.</h4> -->
        <div class="post" *ngFor="let post of arrPostsExistentes">
            <div class="imagen">
                <img [src]="post.imagen">
            </div>
            <div class="descripcion">
                <h3>{{post.titulo}}</h3>
                <p>{{post.texto}}</p>
                <p>Autor: {{post.autor}}</p>
                <p><span>Publicado: {{post.fecha | date:'dd/MM/yyyy'}}</span></p>
            </div>

        </div>

    </div>


</div>