h2{
    margin:50px 0px 0px 0px;
}
h3{
    margin: 10px 0px 20px 0px;
}
h4{
    margin: 30px 0px;
}


.post{
    max-width: 100%;
    display: flex;
    margin: 20px 0px;
    
}

.imagen{
    width: 35%;
    
}

.descripcion{
    width: 65%;
    padding: 0px 15px;
    
}


label{
    margin:20px 0px;
}

span{
    color: grey;
    text-align: right;
}

img{
    display: block;
    width: 100%;
}
