<div class="container">
    <h2>Visita Madrid</h2>
    <form>
        <label>Busca los post que te interesan sobre...</label>
        <select class="form-control" (change)="onChange($event.target.value)">
            <option *ngFor="let categoria of arrCategoriesBlog" value={{categoria}}>{{categoria}}</option>
        </select>
    </form>

    <div class="posts">
        <div class="post" *ngFor="let post of arrPostsExistentes">
            <div class="imagen">
                <img [src]="post.imagen">
            </div>
            <div class="descripcion">
                <h3>{{post.titulo}}</h3>
                <p>{{post.texto}}</p>
                <p>Autor: {{post.autor}}</p>
                <p><span>Publicado: {{post.fecha}}</span></p>

            </div>
            <div class="boton">
                <button type="submit" class="btn btn-dark">Eliminar post</button>
            </div>


        </div>

    </div>


</div>