h2{
    margin:50px 0px 0px 0px;
}
h3{
    margin: 10px 0px 20px 0px;
}


.post{
    max-width: 100%;
    display: flex;
    margin: 20px 0px;
    
}

.imagen{
    width: 25%;
    
}

.descripcion{
    width: 55%;
    padding: 0px 15px;
    
}
.boton{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

label{
    margin:20px 0px;
}

span{
    color: grey;
    text-align: right;
}

img{
    display: block;
    width: 100%;
}
