<div class="home">
    <section>
        <article>
            <h3>Bienvenido a Madrid</h3>
            <p>Madrid es un municipio y una ciudad de España. La localidad, con categoría histórica de villa, es la
                capital del Estado​ y de la Comunidad de Madrid. Dentro del término municipal de Madrid, el más poblado
                de España, viven 3.266.126 personas empadronadas, según el INE de 2019. El área metropolitana asociada
                tiene una población de 6 507 184 habitantes, por lo que es la segunda de la Unión Europea tras la de
                París, y en algunas fuentes detrás también de la Región del Ruhr, así como la segunda ciudad más poblada
                de la Unión Europea, solo por detrás de Berlín.</p>
            <a href="https://es.wikipedia.org/wiki/Madrid" target="_blank"><span>Saber más de Madrid</span></a>
        </article>


        <aside>
            <h3><a href="http://www.gloriafuertes.org/" target="_blank">Gloria Fuertes</a></h3>

            <p>«Yo puedo decir muchas cosas,<br>

                y algunas no.<br>

                No puedo decir: Madrid es mi tierra,<br>

                tengo que decir mi cemento,<br>

                -y lo siento-.»<br>

                «¡Ojalá sea mentira ese rumor que corre sobre el rio<br>

                donde peces de plata mueren sin ser pescados!<br>

                ¡Ojalá sea mentira esa bola<br>

                de anhídrido carbónico<br>

                que pende bajo el cielo de Madrid!<br>

                ¡Ojalá sea verdad esa mentira del vidente<br>

                que anuncia una tormenta de amor<br>

                que acabará con la mala uva…!»</p>
            <small>Poema 'Problemas de Madrid'</small>
        </aside>
    </section>
</div>